body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(200deg,  cyan,#333, #2c2c2c); /* Define el gradiente inicial */
    background-size: 600% 600%; /* Tamaño del gradiente */
    animation: gradientAnimation 30s infinite; /* Define la animación */
}




nav {
    background-color: #2c2c2c;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    padding: 0 20px;
}

.lenguajes {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20vw;
    top: 0;
    bottom: 0;
}


.lenguajes img {
    padding: 10px;
    width: 6vw;
    margin-top: 20px;
    opacity: 0;
    animation: slideLeft 1s forwards;
    box-shadow: 0 0 15px cyan; 
    border-radius: 50%; 
    transition: .5s;
    
}

.lenguajes img:hover {
    width: 7vw;
    box-shadow: 0 0 20px cyan; 
    
}
    

.l1 {
    
}


.miCara img {
    width: 40vw;
    border-radius: 50%;
}





/* HTML */
.html {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.html-cont {
    padding: 5%;
    box-shadow:0 0 15px cyan ;
    width: 70vw;
    height:40vh;
}
/* css */
.css {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.css-cont {
    padding: 5%;
    box-shadow:0 0 15px cyan ;
    width: 40vw;
    height:40vh;
}
/* js */
.js {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.js-cont {
    padding: 5%;
    box-shadow:0 0 15px cyan ;
    width: 40vw;
    height:40vh;
}
/* react */
.react {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.react-cont {
    width: 40vw;
    height:40vh;
}
/* python */
.python {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.python-cont {
    width: 40vw;
    height:40vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes appearFromBehindHtml {
    0% {
        transform: translateX(-700%) translateY(200%) ;
        opacity: 0;
    }
    100% {
        transform: translateX(-10vw) ;
        opacity: 1;
    }
}
@keyframes appearFromBehindCss {
    0% {
        transform: translateX(-700%) translateY(200%) ;
        opacity: 0;
    }
    100% {
        transform: translateX(-4vw) ;
        opacity: 1;
    }
}
@keyframes appearFromBehindJs {
    0% {
        transform: translateX(-700%) ;
        opacity: 0;
    }
    100% {
        transform: translateX(0) ;
        opacity: 1;
    }
}
@keyframes appearFromBehindReact {
    0% {
        transform: translateX(-700%) translateY(-200%) ;
        opacity: 0;
    }
    100% {
        transform: translateX(-4vw) ;
        opacity: 1;
    }
}
@keyframes appearFromBehindPython {
    0% {
        transform: translateX(-700%) translateY(-200%) ;
        opacity: 0;
    }
    100% {
        transform: translateX(-10vw) ;
        opacity: 1;
    }
}
.lenguajes img:nth-child(1) {
    animation: appearFromBehindHtml 1s forwards;
    animation-delay: 0.5s;
}

.lenguajes img:nth-child(2) {
    animation: appearFromBehindCss 1s forwards;
    animation-delay: 1s;
}

.lenguajes img:nth-child(3) {
    animation: appearFromBehindJs 1s forwards;
    animation-delay: 1.5s;
}

.lenguajes img:nth-child(4) {
    animation: appearFromBehindReact 1s forwards;
    animation-delay: 2s;
}

.lenguajes img:nth-child(5) {
    animation: appearFromBehindPython 1s forwards;
    animation-delay: 2.5s;
}